<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Add new employee page -->

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <!-- Bootstrap, javascript links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/createEmployeeForm}">Add new employee <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <!-- Filtering function -->
        <form th:action="@{/employees}" class="form-inline my-2 my-lg-0">
            <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"
                   placeholder="Filter Employees" required/>
            &nbsp;
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            &nbsp;
            <button class="btn btn-success my-2 my-sm-0" type="button" value="Clear" id="btnClear"
                    onclick="clearSearch()">Clear
            </button>
            <!-- Filter window clear javascript function -->
            <script type="text/javascript">function clearSearch() {
                window.location = "[[@{/employees}]]";
            }</script>
        </form>
    </div>
</nav>
<!-- Add employee form -->
    <div class = "container">
      <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h1 class = "text-center"> Add New Employee</h1>
            <div class = "card-body">
                <form th:action="@{/employees}" th:object = "${employee}" method="POST">
                    <div class = "form-group">
                        <label> Employee Full Name</label>  <!-- Employee full name -->
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Employee Full Name"
                                required="true"
                        />
                    </div>

                    <div class = "form-group">
                        <label> Employee Job</label>  <!-- Employee Job -->
                        <input
                                type = "text"
                                name = "job"
                                th:field = "*{job}"
                                class = "form-control"
                                placeholder="Enter Employee Position in the Company"
                                required="true"
                        />
                    </div>

                    <div class = "form-group">
                        <label> Date of Birth</label>  <!-- Date of birth -->
                        <input
                                type = "date"
                                name = "date"
                                th:field = "*{date}"
                                class = "form-control"
                                placeholder="Enter Employee Date of Birth"
                                required="true"
                        />
                        <small class="form-text text-muted"></small>

                    </div>

                    <div class = "form-group">
                        <label> Monthly Salary in Crowns</label>  <!-- Employee monthly salary -->
                        <input
                                type = "number"
                                name = "salary"
                                th:field = "*{salary}"
                                class = "form-control"
                                placeholder="Enter Monthly Salary in czech crowns"
                                required="true"
                        />
                        <small class="form-text text-muted"></small>
                    </div>

                    <div class = "form-group">
                        <label> Employee Email</label>  <!-- Employee email -->
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter Employee Email"
                                required="true"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type ="submit" class = "btn btn-primary">  <!--Submit button -->
                            Submit
                        </button>

                        <a th:href = "@{/employees}" class = "btn btn-danger">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</body>
</html>